.poll-widget-list {
  margin: 1em 0 2em;
  padding: 1em;
  display: grid;
  grid-template-areas: "poll" "info" "buttons";
}


#poll-main {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;


  div {display: block}

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald',sans-serif;
    text-transform: uppercase;
  }

  h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2rem 0 1.5rem 0;
  }

  h2 {
    font-size: 3.56rem;
    line-height: 110%;
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
    margin-top: -46px;
    margin-left: 3rem;
    display: block;
    font-size: 2em;
    font-weight: bold;
  }
}

.item:before, .last-item:after {
  background: #fff;
  border: 8px solid var(--primary);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  content: "";
  margin-left: 1rem;
  position: relative;
  z-index: 1;
  left: -31px;
}

.last-item {
  padding-top: 80px;
  height: 35px;
  position: relative;
}


.item {
  padding-top: 100px;
  min-height: 150px;
  position: relative;
}

.card-panel {
  transition: box-shadow .25s;
  padding: 24px;
  margin: .5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.item .card-panel {
  margin: 0;
  margin: 2rem 0 0 1.5rem;
}

.vertical-line {
  width: 8px;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.cv-title span {
  padding: 1rem;
}
.white-text {
  color: var(--secondary);
}
.black {
  background-color:  var(--primary)
}

.card-panel  {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: dark) {
  .card-panel {
    background-color: #666;
  }

  .item:before, .last-item:after {
    background-color: #333;
  }
}
